
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

html, body, input, button, textarea {
  font-family: "Barlow", "Helvetica Neue", sans-serif;
  font-size: 100%; /* This means 16px */
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/
 h1 {
   font-size: $font-size-xl;
   font-weight: $font-weight-bold;
 }

 h2 {
   font-size: $font-size-l;
   font-weight: $font-weight-bold;
 }

 h3 {
   font-size: $font-size-m;
   font-weight: $font-weight-bold;
 }

 h4 {
   font-size: $font-size-base;
   font-weight: $font-weight-bold;
 }

 h5 {
   font-size: $font-size-s;
   font-weight: $font-weight-bold;
 }


 /*------------------------------------*\
   #BASIC ELEMENTS TYPOGRAPHY
 \*------------------------------------*/
 p {
   font-size: $font-size-base;
 }
